*{
  margin: 0;
  padding: 0;
}

.tool-bar{
  background-color: #222f3e;
  color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.sidebar{
  position: absolute;
  background-color: #222f3e;
  color: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  transform: translateX(-100%);
  transition: all 0.4s;
}

.sidebar--open{
  transform: translateX(0%);
}

.sidebar li{
  list-style: none;
  padding: 1rem 2rem;
  border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 300;
}

.sidebar li:hover{
  background-color: #fff;
  color: #000;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.backdrop--open{
  display: block;
}